<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About Me</h4>
    <p>
      Teaching is both my passion and my best ally for mastery.
    </p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    
    </ol>
  </div>
</div>