<h1>Full-Stack Developer</h1>
<p>Self-confidence, persistence, uniqueness, innovativeness, and originality are just some
of my characteristics. My primary ambition is to contribute and work within a dynamic
team. A key strength of mine is my ability to quickly acquire new technological skills
and techniques. Based on my inherent curiosity for technologies. I enjoy being
confronted by challenges — it is in my nature to deal with them, and find the most
efficient way of resolving them. I live a healthy lifestyle and sports have taught me a lot
about discipline and grit.</p>
